ion-item{
  border-left: 2px solid #ff387a;
  padding-left: 10px;
}

.side-image{
  position: relative;
  background-color: var(--ion-color-success-contrast);
  border-radius: round($number: 50%);
  min-width: 80px;
  min-height: 80px;
  color: white;
  margin-right: 5px;
  margin-left: 0;
}
.side-div{
  position: relative;
  border-width: 2px;
  margin-left: 3px;
}
