<ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
       <ion-title>{{title|translate}}</ion-title>
    </ion-buttons>
   <ion-buttons slot="end">
    <ion-button color="light" (click)="returnToHome()">
       <ion-icon name="home-outline" slot="end"></ion-icon>
    </ion-button>
   </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-buttons slot="start" *ngIf="!showSearchbar">
      <ion-button (click)="returnBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar"> Search </ion-title>
    <ion-searchbar
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionChange)="findRecord($event)"
      (ionCancel)="onCancelSearch()"
      placeholder="Enter Buyer Name"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-toolbar>
