<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>
        {{"SETTINGS"|translate}}
      </ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="'/landing'"> {{"MAIN_MENU"|translate}}
        <ion-icon name="home-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="home_container">
  <ion-grid class="padding">
    <ion-row class="ion-text-start">
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <ion-item class="menu-item" button [routerLink]="['/vehicle']" lines="none">
          <ion-img slot="start" class="small" src="assets/icon/trunc.svg"></ion-img>
          <div>
            <ion-label>{{"VEHICLES"|translate}}</ion-label>
            <ion-note slot="start"> Click to add new Buyer</ion-note>
          </div>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <ion-item class="menu-item" button [routerLink]="['/credit-limit']" lines="none">
          <ion-img slot="start" class="small" src="assets/icon/squer.svg"></ion-img>
          <div>
            <ion-label>{{"SERVICES"|translate}}</ion-label>
            <ion-note slot="start"> Click to add new Buyer</ion-note>
          </div>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <ion-item class="menu-item" button [routerLink]="['/credit-limit']" lines="none">
          <ion-img slot="start" class="small" src="assets/icon/worker.svg"></ion-img>
          <div>
            <ion-label>{{"EMPLOYEES"|translate}}</ion-label>
            <ion-note slot="start"> Click to add new Buyer</ion-note>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-start">
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <ion-item class="menu-item" button [routerLink]="['/credit-limit']" lines="none">
          <ion-img slot="start" class="small" src="assets/icon/team.svg"></ion-img>
          <div>
            <ion-label>{{"TEAMS"|translate}}</ion-label>
            <ion-note slot="start"> Click to add new Buyer</ion-note>
          </div>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <ion-item class="menu-item" button [routerLink]="['/credit-limit']" lines="none">
          <ion-img slot="start" class="small" src="assets/icon/key.svg"></ion-img>
          <div>
            <ion-label>{{"USERS"|translate}}</ion-label>
            <ion-note slot="start"> Click to add new Buyer</ion-note>
          </div>
        </ion-item>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <ion-item class="menu-item" button [routerLink]="['/credit-limit']" lines="none">
          <ion-img slot="start" class="small" src="assets/icon/password.svg"></ion-img>
          <div>
            <ion-label>{{"CHANGE_PASSWORD"|translate}}</ion-label>
            <ion-note slot="start"> Click to add new Buyer</ion-note>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
