<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="openLoginModal()">
        {{"LOGIN"|translate}}
      </ion-button>
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="8" sizeSm="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <div>
              <h1>{{"CREATE_TEAM"|translate}}</h1>
              <ion-img src="assets/icon/team.jpg"></ion-img>
            </div>

          </ion-slide>
          <ion-slide>
            <div>
              <h1>Receiving Requests</h1>
              <ion-img src="assets/icon/locations.png"></ion-img>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <h1>Tracking Teams</h1>
              <ion-img src="assets/icon/tracking.jpg"></ion-img>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col sizeMd="4" sizeSm="12">
        <hr>
        <ion-list-header>
          <ion-title>PickUp</ion-title>
        </ion-list-header>
        <ion-list>
          <ion-textarea disabled=true>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum
          </ion-textarea>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="2" sizeSm="12">
        <ion-button fill="solid" color="primary" expand="block" [routerLink]="'/subscribe-request'">
          {{"SUBSCRIBE"|translate}}
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
